.background {
  background: url('https://wesmart.vn/upload/774ea949-b8d2-4217-b7e3-984e2f9a3998/internet-of-thing.jpg?w=800');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  .relative {
    position: relative;
    height: 100%;
    background: rgba(0,0,0,0.5);
    .absolute {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 410px;
      width: 600px;
      transform: translate(-50%, -50%);
      border-radius: 8px;
    }
  }
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dk {
  input {
    width: 70%;
  }
}